{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Python Router Interface</h1>
    <p class="lead">Python Router interface is a Web based router interface that provides an easy way to set up and configure a router. It is expandable with different modules. It was designed to be used on mobile devices, as well as normal computers and desktops. </p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
{% endblock %}
